<h2>Editar Livro</h2>

<form action="/edit/save" method="POST">
    <input type="hidden" value="{{book.id}}" name="id">
    <div>
        <label for="title">Título</label>
        <input type="text" name="title" id="title" placeholder="Digite o Título" value="{{book.title}}">
    </div>
    <div>
        <label for="pageqty">Número de Páginas</label>
        <input type="number" name="pageqty" id="pageqty" placeholder="Quantas páginas o livro possui?" value="{{book.pageqty}}">
    </div>

    <button type="submit">Enviar</button>
</form>